.headerImg {
    height: 5vh;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bodyFlexGrow {
    flex-grow: 1;
}

.container {
    max-width: 48rem;
    padding: 0 1rem;
    margin: 0rem auto;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 767px) {

    .container {
        min-width: 48rem;
    }
}

.mainContentHeader {
    text-align: center;
}

/* .mainContent {
    flex-grow: 1;
} */

.backToHome {
    background-color: transparent;
    color: black;
    border-top: 1px solid #bbbbbb;
    margin-top: 1rem;
    padding: 1rem;
}

.icon-button:hover {
    filter: brightness(1.2);
}

.dropdown {
    position: absolute;
    top: 85px;
    width: 300px;
    background-color: whitesmoke;
    border: var(--border);
    border-radius: 10px;
    padding: 1rem;
    transition: height var(--speed) ease;
}

.dropdown li {
    border-radius: 0.375rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 0.25rem;
    width:fit-content ;
    
    
}

.dropdown li:hover {
    background-color: lightgray;
}